.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.wrapper {}

.footer-item {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    width: 50%;
}

.footer-logo-pic {}

.footer-nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-menu {}

.footer-menu-item {}

.footer-menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-menu-link:hover, .footer-menu-link:focus, .footer-menu-link:active{
    opacity: 0.75;
}


/* MEDIA START  */
@media screen and (max-width:960px){
    .footer{
        padding: 60px 0;
    }
}

@media screen and (max-width:760px){
    .footer-logo{
        width: 100%;
        margin-bottom: 12px;
    }
    .footer-nav{
        width: 100%;
    }
    .footer-menu{
        width: 50%;
        margin-bottom: 24px;
    }
}
/* MEDIA END  */